.logo {
    height: 10vh;
    width: auto;
    margin: 0.3vw;
}
  
.logo-image {
    height: 10vh;
    width: auto;
    transition: transform 0.3s ease;
}
  
.logo-image:hover {
    transform: scale(1.3);
}