.team-page{
    display: flex;
    flex-direction: column;
}

.team-page-body{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    height: calc(100vh - 50px);
    width: 100vw;
}

.logo-container{
    flex: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.club-logo{
    height: 80vh;
    width: auto;
}

.stats{
    flex: 1;
    display: flex;
    flex-direction: row;
}